</main>
<% if( locals && locals.user && locals.user.CharacterID == 91862283 ) { %>
<div class="container mt-5">
	<div class="row">
		<div class="col-sm-12 content">
			<pre><%= JSON.stringify( locals, null, 4 ) %></pre>
		</div>
	</div>
</div>
<% } %>
	<footer class="p-3 text-center">
		<span class="d-block d-md-inline">Member corp of <a href="//evemaps.dotlan.net/alliance/Initiative_Mercenaries">Initiative Mercenaries</a></span>
		| <strong>&copy; Therapy. 2018</strong> All rights reserved.<br>
		<a href="https://www.eveonline.com/">EVE Online</a>&reg; and <a href="https://www.ccpgames.com/">CCP</a>&reg; and all related logos and other elements are trademarks of CCP hf.<br>
		Their use is strictly fair use in course of playing EvE Online, and are not for profit.

	</footer>
	<script>
		AOS.init({ disable: 'mobile'});
		var scroll = new SmoothScroll('a[href*="#"]');
	</script>
</body>
</html>
