<% include ../../partials/header %>
<script>
	let store = {};
	let hooks = {};
	let sort = {
		by: function( attr, direction ) {
			if( direction.toLowerCase() === 'asc' ) direction = 1;
			if( direction.toLowerCase() === 'desc' ) direction = -1;

			let parts = attr.split(' ')

			return function( a, b ) {
				for( let i = 0, len = parts.length; i < len; i++ ) {
					let ap = parts[i];
					let c=a[ap].toLowerCase(), d=b[ap].toLowerCase();
					if( c > d ) return direction;
					if( c < d ) return direction;
				}
				return 0;
			}
		}
	};
	sort.byName = function(a,b) { a=a.name.toLowerCase(); b=b.name.toLowerCase(); if( a > b )return 1; if( a < b ) return -1; return 0; };
	sort.bycharacter_name = function(a,b) { a=a.character_name.toLowerCase(); b=b.character_name.toLowerCase(); if( a > b )return 1; if( a < b ) return -1; return 0; };
	sort.byCharacterName = function(a,b) { a=a.CharacterName.toLowerCase(); b=b.CharacterName.toLowerCase(); if( a > b )return 1; if( a < b ) return -1; return 0; };

	function grep( arr, attr, id ) {
		for( let i = arr.length; i --> 0; )
			if( arr[ i ][ attr ] == id ) {
				arr.splice( i, 1 );
				break;
			}
	}

	function dictionary( store, name, arr, attr, callback ) {
		store.dictionary[name] = (store.dictionary[name])?store.dictionary[name]:{};

		for( let i = arr.length; i --> 0; ) {
			let doc = arr[i];

			callback && callback( doc );

			store.dictionary[name][ doc[attr] ] = doc;
		}
	}
	const MONTH_DESCRIPTION = ["January","February","March","April","May","June","July","August","September","October","November","December"];
</script>
<script>
	let given = {
		jobHistory: <%= local.jobHistory %>,
		jobs: <%= local.jobs %>

	};
</script>
<div id="app" class="container content" v-cloak>
	<div class="row">
		<div class="col">
			<p>Todo: Add job tasks and status here</p>
			<ul>
				<li>Jobs</li>
			</ul>
		</div>
	</div>
</div>
<script>
	(function initialize(){

	})();


	window.onload = function() {
		new Vue({
			el: '#app',
			data: {
				store: store
			},
			methods: {

			}
		});
	};

</script>
<% include ../../partials/footer %>