<% include ../partials/header %>
<main>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Session</h2>
				<pre><%= JSON.stringify(session,null,4) %></pre>
			</div>
		</div>
	</div>
</main>
<% include ../partials/footer %>