<% include ../../partials/header %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>What this server does:</h2>
				<ul>
					<li>Auth bot for discord (Discord)</li>
					<li>ESI Auth Interface (Website)</li>
					<li>KnifeJack Character Info (Website)</li>
					<li>And message Boardish (Website)</li>
				</ul>
			</div>
		</div>
	</div>
</main>
<% include ../../partials/footer %>